.containerCard {
    display: flex;
    flex-wrap: wrap;             /* Permite quebra de linha */
    gap: 15px;                   /* Espaço entre os cards */
    justify-content: center;     /* Centraliza os cards */
    width: 100%;
    padding: 0 15px;             /* Espaçamento lateral opcional */
    box-sizing: border-box;
    grid-area: Cards;
}
