.contaneirDashboard {
    display: grid; 
    gap: 1rem;
    grid-template-areas: 
    "sideBar navbar navbar navbar" 
    "sideBar contaneirGraficos contaneirGraficos contaneirGraficos" 
    "sideBar contaneirGraficos contaneirGraficos contaneirGraficos" 
    ;
    grid-template-columns: 7% 1fr;
    grid-template-rows: auto auto 1fr;
    width: 96%;
    height: 100vh;
}

.contaneirGraficos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0px 10px;
    grid-area: contaneirGraficos;
}