.headerLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.headerLogin h1 {
    font-weight: 400;
    color: #fff;
    font-size: 2.125rem;
}

.headerLogin img {
    width: 7rem;
    height: 6rem;
}